.white
    color: white !important
.black
    color: black !important
.bg-white
    background-color: white !important
.bg-orange
    background-color: #ff9c00 !important
.bg-blue
    background-color: #5d5fc8 !important
.bg-vue
    background-color: #41B883 !important