.white
    color: #f5f5f5 !important
.orange
    color: #ff9c00
.blue
    color: #5d5fc8
.pink
    color: #D33575
.light-pink
    color: #e3c0c0
.dark-pink
    color: #F4376D
.black
    color: #171919 !important
.bg-white
    background-color: #f5f5f5 !important
.bg-orange
    background-color: #ff9c00 !important
.bg-blue
    background-color: #5d5fc8 !important
.bg-vue
    background-color: #41B883 !important
.bg-light-pink
    background-color: #e3c0c0 !important
.bg-dark-pink
    background-color: #F4376D !important