.flex
    display: flex
    flex: 1 1 auto

.flex-dir-row 
    flex-direction: row

.flex-dir-col
    flex-direction: column

.flex-wrap
    flex-wrap: wrap

.flex-align-items-center
    align-items: center

.flex-content-center
    justify-content: center

.flex-content-space-around
    justify-content: space-around

.flex-justify-baseline
    justify-content: baseline

.flex-align-self-center
    align-self: center

.flex-separator
    flex: 1 1 50%

.flex-flow-wrap-row
    flex-flow: row wrap

@for $i from 1 through 100
    .flex-#{$i}
        flex: 1 1 0% + $i
        // max-width: 0% + $i

@media(max-width: 959px)
    .flex-dir-row
        flex-direction: column